@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all ease-in-out .3s;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* background-color: hsl(216, 12%, 8%); */
}

.main-card {
    background-color: hsl(213, 19%, 18%);
    max-width: 480px;
    max-height: 480px;

    margin: 0 auto;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 28px;

    border-radius: 30px;
}

.top-star {
    background-color: hsl(213, 21%, 22%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

p.desc {
    font-size: 23px;
    color: hsl(217, 12%, 63%);
    line-height: 1.6;
}

.rating-container {
    width: 100%;
    display: flex;
    gap: 25px;
    justify-content: center;
}

input[type=radio] {
    display: none;
}

#star1:checked:checked ~ .star1 .rating,
#star2:checked:checked ~ .star2 .rating,
#star3:checked:checked ~ .star3 .rating,
#star4:checked:checked ~ .star4 .rating,
#star5:checked:checked ~ .star5 .rating {
    color: hsl(0, 0%, 100%);;
    background-color: hsl(217, 12%, 63%);
}

.rating {
    background-color: hsl(213, 21%, 22%);
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: hsl(217, 12%, 63%);//hsl(216, 12%, 54%);

    border-radius: 50%;
    cursor: pointer;
}

.rating:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.main-btn {
    color: hsl(0, 0%, 100%);
    margin-top: auto;
/* 
    display: flex;
    justify-content: center;
    text-align: center; */
    
    padding: 17px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    
    font-size: 23px;
    font-weight: 700;
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: .4ch;
    cursor: pointer;
}

.main-btn:hover {
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

/* Thank You State */

.thank-you {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.widget {
    background-color: hsl(213, 21%, 22%);
    width: 40;
    padding: 10px;
    border-radius: 50px;
    margin-top: 2rem;
}

.widget-text {
    color: hsl(25, 97%, 53%);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 15px;
}

.thank-you-heading {
    margin-top: 2.7rem;
    font-size: 42px;
    font-weight: 700;
}